/* Imposto parametri e configurazioni comuni */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.borderdot{
    border: 2px dashed black;
}

.section-container{
    max-width: 800px;
    margin: 0 auto;
}

/* Imposto logo e prefazione */

.top-bar{
    background-color: aqua;
    padding: 10px;
}

.top-bar .content{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}

.logo-column{
    width: 20%;
}

.menu-column{
    width: 60%;
}

.menu-column ul{
    justify-content: center;
    display: flex;
}

.menu-column ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

/* .menu-column ul li a:hover */

.login-column{
    width: 20%;
}

.jumbotron{
    background-color: rgb(50, 50, 197);
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.jumbotron .content{
    width: 600px;
    height: 250px;
    background-color: pink;
}

/* Imposto corpo e colonne */

section{
    padding: 20px;
}

.section-container{
    display: flex;
}

.big-column{
    background-color: cornflowerblue;
    width: 60%;
    height: 300px;
}

.small-column{
    background-color: salmon;
    width: 40%;
    height: 300px;
}

.behind{
    background-color: lightgray;
}

.form{
    background-color: green;
    width: 800px;
    height: 500px;
}

/* Form e fine pagina */

footer{
    background-color: black;
}

.footer-top{
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 20px 0;
}

.footer-top .mix-column-lx{
    background-color: salmon;
    flex-basis: 30%;
    height: 300px;
}

.footer-top .mix-column-rx{
    display: flex;
    flex-basis: 70%;
    background-color: cyan;
    height: 300px;
    align-items: stretch;
}

.mix-column-single{
    flex-basis: 25%;
}

.footer-bottom{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px 0;
}

.footer-bottom .logo-column,
.footer-bottom .button-column{
    background-color: orange;
}

