/* Imposto parametri */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Imposto logo e link */

header{
    padding: 10px;
    background-color: aquamarine;
}

.container{
    width: 800px;
    margin: 0px auto;
}

.head{
    height: 50px;
    line-height: 40px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
}

.link{
    border: 3px dotted black;
}

.one{
    width: 25%;
}

.two{
    text-align: center;
    width: 50%;
}

/* Imposto prefazione */

.container-flex{
    display: flex;
    flex-direction: row;
}

.first{
    background-color: blue;
    padding: 1px;
}

#preface{
    width: 600px;
    height: 300px;
    background-color: palevioletred;
    border-radius: 5px;
    margin: 30px auto;
    border: 3px dotted black;
}

/* Imposto corpo principale */

.label{
    display: flex;
}

.section{
    padding: 30px 0 30px;
}

.second{
    background-color: lightgray;
}

.small,
.large{
    height: 300px;
    border: 3px dotted black;
}

.small{
    width: 40%;
    background-color: salmon;
}

.large{
    width: 60%;
    background-color: cornflowerblue;
}

.third{
    background-color: gray;
}

.fourth{
    background-color: lightgray;
}

.fifth{
    background-color: grey;
    display: flex;
    flex-direction: row;
}

#ending{
    width: 800px;
    height: 600px;
    margin: 30px auto;
    background-color: green;
    border: 3px dotted black;
}

/* Imposto griglia */

.sixth{
    background-color: black;
}

.list{
    width: 800px;
    margin: 1px auto;
    flex-direction: row;
}


.main{
    flex-grow: 2;
    background-color: sandybrown;
    height: 300px;
    border: 3px dotted white;
}

.item{
    flex-grow: 1;
    background-color: cyan;
    border: 3px dotted white;
}

/* Imposto fine pagina */

footer{
    background-color: black;
    border: 5px solid grey;
    padding-top: 30px;
}

.foot{
    background-color: greenyellow;
    position: relative;
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: pink;
    border: 3px dotted black;
    display: inline-block;
}

.left{
    width: 40px;
    height: 30px;
}

.right{
    width: 60px;
    height: 30px;
}